<div class="page-wrapper chiller-theme employee-wrapper">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <app-header >
        </app-header>

        <div class="container-fluid contentpage_wrapper">
            <div class="pagecontent_wrapper">
        
        
                <form (ngSubmit)=ExchangeForm.form.valid #ExchangeForm="ngForm">
                    <div class="white_wrapper">
                        <h2 class="peak-form-head">New Exchange Intake Form</h2>
                        <div class="c0l-12 form-bk-g">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="row">
                                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 form-inner-g">
                                        <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-inner-g">
                                            <div class="">
                                                <!-- <div class="flx_section"> -->
                                                <label class="peak-form-label">Select Contact</label>
                                                <div id="multiselect_custom">
                                                    <mat-form-field appearance="fill">
        
                                                        <mat-select [(ngModel)]="Exchanges.contactid" name="contactid"  #contactid="ngModel" tabindex="1" 
                                                            [ngClass]="{ 'is-invalid': ExchangeForm.submitted && contactid.invalid }"
                                                            required [ngModelOptions]="{standalone: true}">
        
                                                            <input placeholder="Please select contact" type="text" (keyup)="onSearchUsers($event)" class="peak-box-g" (keydown)="$event.stopPropagation()">
        
                                                            <mat-option *ngFor="let Contact of ClientContactDropdownList" value="{{Contact.userId}}">
                                                                {{Contact.fullName}} ({{Contact.contactType}})
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
        
        
                                                    <button type="button" class="btn select-btn" data-toggle="modal" data-target="#bank_profile" (click)="getUserData(1)">
                                                        <img src="../../../../assets/images/superadmin/escrow-icon.png">
                                                    </button>
                                                    <span> </span>
                                                    <div *ngIf="ExchangeForm.submitted && contactid.invalid" class="invalid-feedback">
                                                        <div *ngIf="Email.errors.required">Contact is required</div>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-inner-g">
                                          
                                            <div>
                                                <!-- <div class="flx_section"> -->
                                                <label class="peak-form-label">Settlement Agent / Escrow Officer Name
                                                    <span class="c-red">*</span>
                                                </label>
                                                <div id="multiselect_custom">
                                                    <mat-form-field appearance="fill">
                                                        <mat-select  [(ngModel)]="Exchanges.SettlementAgent" name="SettlementAgent"
                                                            #SettlementAgent="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && SettlementAgent.invalid }"
                                                            required [ngModelOptions]="{standalone: true}">
        
                                                            <input type="text" (keyup)="onSearchUsers($event)" tabindex="2" class="peak-box-g" (keydown)="$event.stopPropagation()">
                                                            <mat-option *ngFor="let Contact of SynergyContactDropdownList" value="{{Contact.userId}}">
                                                                {{Contact.fullName}} ({{Contact.contactType}})
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
        
        
                                                    <button type="button" class="btn select-btn" data-toggle="modal" data-target="#bank_profile" (click)="getUserData(2)">
                                                        <img src="../../../../assets/images/superadmin/escrow-icon.png">
                                                    </button>
                                                    <div *ngIf="ExchangeForm.submitted && SettlementAgent.invalid" class="invalid-feedback">
                                                        <div *ngIf="SettlementAgent.errors.required">Officer Name is required</div>
                                                    </div>
        
                                                </div>
        
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                            <div>
                                                <!-- <div class="flx_section"> -->
                                                <label class="peak-form-label">City<span class="c-red">*</span></label>
                                                <div id="multiselect_custom">
                                                        <input type="text" placeholder="Enter city" tabindex="4" [(ngModel)]="Exchanges.city" name="city" class="peak-box-g"
                                                        #city="ngModel" >
                                                   
                                                      <div *ngIf="ExchangeForm.submitted && city.invalid" class="invalid-feedback">
                                                        <div *ngIf="city.errors.required">city Name is required</div>
                                                    </div>
        
                                                </div>
        
                                            </div>
                                        </div>
               <!-- state and pincode -->
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                            <div>
                                                <!-- <div class="flx_section"> -->
                                                <label class="peak-form-label">State<span class="c-red">*</span></label>
                                                <div id="multiselect_custom">
                                                    <mat-form-field appearance="fill">
                                                        <mat-select tabindex="5" [(ngModel)]="Exchanges.state" name="state"
                                                            #state="ngModel"
                                                            required [ngModelOptions]="{standalone: true}">
                                                            <mat-option *ngFor="let stateslist of Statedata" value="{{stateslist.stateId}}">
                                                                {{stateslist.stateName}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
        
                                                    <div *ngIf="ExchangeForm.submitted && state.invalid" class="invalid-feedback">
                                                        <div *ngIf="state.errors.required">state Name is required</div>
                                                    </div>
        
                                                </div>
        
                                            </div>
                                        </div>
        <!-- city dropdown -->
                                          
                                      
        
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                          
                                            <div class="peak-form">
                                                <label class="peak-form-label">Zip
                                                    <span class="c-red">*</span>
                                                </label>
                                                <input type="text" mask="000000" tabindex="6" placeholder="Enter Zip code"   [(ngModel)]="Exchanges.zip" name="zip" class="peak-box-g"
                                                #zip="ngModel"  [ngClass]="{ 'is-invalid': ExchangeForm.submitted && zip.invalid }"
                                                required>
                                                <div *ngIf="ExchangeForm.submitted && zip.invalid" class="invalid-feedback">
                                                    <div *ngIf="zip.errors.required">zip code is required</div>
                                                </div>
                                            </div>
                                        </div>                                  
                                        </div> 
                                    </div> 
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                            <div class="peak-form">
                                                <label class="peak-form-label">Relinquished Property Address
                                                    <span class="c-red">*</span>
                                                </label>
                                                <input placeholder="Enter Address" tabindex="3" [(ngModel)]="Exchanges.RelinquishedAddress" name="RelinquishedAddress" 
                                                    #RelinquishedAddress="ngModel" class="peak-box-g" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && RelinquishedAddress.invalid }"
                                                    required>
                                                <div *ngIf="ExchangeForm.submitted && RelinquishedAddress.invalid" class="invalid-feedback">
                                                    <div *ngIf="RelinquishedAddress.errors.required">Address is required</div>
                                                </div>
                                            </div>
                
                                            
                                           
                                           
                                          
                                        </div>                                                        
                                       
        
                                    </div>
                                </div>
        
        
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="peak-form">
                                        <label class="peak-form-label">How do you hold title to the Property?
                                          
                                        </label>
                                        <input type="text"  placeholder="Enter Title" tabindex="7" [(ngModel)]="Exchanges.Propertytitle" name="Propertytitle" class="peak-box-g"
                                            #Propertytitle="ngModel" >
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="peak-form">
                                        <label class="peak-form-label">Sales Price
                                           
                                        </label>
                                        <input type="text" prefix="$" separatorLimit="100000000000000000" [showMaskTyped]="true" mask="separator" thousandSeparator="," tabindex="8" min="0" max="9999999999999999" maxlength="30" oninput="this.value=this.value.slice(0,this.maxLength||1/0);this.value=(this.value   < 1) ? (1/0) : this.value;"
                                            placeholder="Enter Price" [(ngModel)]="Exchanges.SalesPrice" name="SalesPrice" class="peak-box-g"
                                            #SalesPrice="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && SalesPrice.invalid }"
                                            required>
                                       
                                    </div>
                                </div>
        
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="peak-form">
                                        <label class="peak-form-label">Approx.Current debt on property
                                      
                                        </label>
                                        <input type="text" prefix="$" separatorLimit="100000000000000000" [showMaskTyped]="true" mask="separator" thousandSeparator="," tabindex="9" min="0" max="9999999999999999" maxlength="30" oninput="this.value=this.value.slice(0,this.maxLength||1/0);this.value=(this.value   < 1) ? (1/0) : this.value;"
                                            placeholder="Enter Amount" [(ngModel)]="Exchanges.debt" name="debt" class="peak-box-g" #debt="ngModel">
                                       
                                    </div>
                                </div>
        
        
                               
        
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner-g">
                                            <div class="peak-form">
                                                <label class="peak-form-label">Referral Source
                                                  
                                                </label>
                                                <input type="text" tabindex="10"  placeholder="Enter referral source" [(ngModel)]="Exchanges.Referral" name="Referral" class="peak-box-g"
                                                    #Referral="ngModel" >
                                              
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-inner-g">
                                            <div class="peak-form">
                                                <label class="peak-form-label">Enter expected closing date
                                                  
                                                </label>
                                                <dp-date-picker tabindex="11" placeholder="select date" [(ngModel)]="Exchanges.ClosingDate" name="ClosingDate" theme="dp-material" [config]="datePickerConfig"
                                                    required="true" #ClosingDate="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && ClosingDate.invalid }"
                                                    required>
                                                </dp-date-picker>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- end last left -->
        
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form-inner-g">
                                    <div class="peak-form">
                                        <label class="peak-form-label">Notes</label>
                                        <textarea placeholder="Enter Notes" tabindex="12" [(ngModel)]="Exchanges.Notes" name="Notes" class="peak-box-g peak-t-area-notes"></textarea>
                                    </div>
                                </div>
        
        </div>
                            </div>
                        <div class="button-area-g">
                            <button tabindex="15" class="create-btn" (click)="addExchange()">CREATE</button>
                            <button tabindex="16" [routerLink]="['/dashboard']" class="cancel-btn">CANCEL</button>
                        </div>
        
                   
                   
                    </div>
                </form>
            </div>
        </div>
        
        
        
         <div class="modal fade" #bank_profile  id="bank_profile" role="dialog" data-backdrop="static" 
        data-keyboard="false"  aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog del-modal modal-dialog-centered document-temp-popup" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="header_flx">
                      <h3>Add Contact</h3>
                      <button type="button" id="close-modal" (click)="close()" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="col-lg-12 dt-popup">
                      <div class="col-12 col-lg-6 dtp-left">
                        <div class="flx_section">
                            <label class="peak-form-label">Contact Type<span>*</span></label>
                            <div class="select_div w-250" style="margin-left: 0px">
                              <select id="typeid" [(ngModel)]="Contacts.userTypeId" name="userTypeId" #userTypeId="ngModel" >                                                         
                                <option value="4">Client</option>
                                <option value="5">Broker/Agent</option>
                                <option value="6">Synergy Broker/Executive</option>
                                <option value="7">Synergy Agent</option>
                                <option value="8">Escrow Officer</option>
                              </select>
                              <span><i class="fa fa-angle-down"></i></span>
                            </div>
                          </div>
                          <ng-container
                                *ngIf="Contacts.userTypeId==7;">
                                <div class="flx_section">
                                  <label class="peak-form-label">Synergy Mapping</label>
                                  <div class="select_div small">
                                    <select (change)="synergyisrequired()" [(ngModel)]="Contacts.issynergyrequire" name="issynergyrequire" #issynergyrequire="ngModel">
                                      <option value="1">Yes</option>
                                      <option value="0">No</option>
                                    </select>
                                    <span style="right: 1px;
                                    left: 227px;"><i class="fa fa-angle-down"></i></span>
                                  </div>
                                </div>
            
                                <div class="flx_section">
                                  <label class="peak-form-label">Select Synergy Client</label>
                                  <ng-container *ngIf="issynergy ; else relPropertyClosedate">
                                    <div id="multiselect_custom">
                                      <mat-form-field appearance="fill">
                                        <mat-select [(ngModel)]="Contacts.synergyId">
            
                                              <input type="text"  (keyup)="onSearchUsers($event)" tabindex="2" class="peak-box-g" (keydown)="$event.stopPropagation()">
                                              <mat-option *ngFor="let client of AssignExchangeDropdownList" value="{{client.userID}}">
                                                  {{client.fullName}} 
                                              </mat-option>
                                          </mat-select>
                                      </mat-form-field>
            
            
            
                                      <button type="button" class="btn select-btn" data-toggle="modal" data-target="#bank_profile">
                                          <img src="../../../../assets/images/superadmin/escrow-icon.png">
                                      </button>
                                     
            
                                  </div>
                                
                                </ng-container>
                                <ng-template #relPropertyClosedate>
                                  <div class="select_div">
                                    <select  formControlName="SynergyId">
                                      <option disabled [ngValue] ="0">Select Synergy</option>
                                    </select>
                       
                                    <span style="right: 1px;
                                    left: 227px;"><i class="fa fa-angle-down"></i></span>
                                  </div>
                                </ng-template>
                                  
                                 
                                </div>
                                </ng-container>
                              <div class="flx_section">
                                  <label class="peak-form-label">First Name<span>*</span></label>
                                  <input class="ipt" type="text" [(ngModel)]="Contacts.firstName" #firstName="ngModel" name="firstName" placeholder="First Name" tabindex="14">
                                  
                                </div>                                            
                              <div class="flx_section">
                                  <label class="peak-form-label">Last Name<span>*</span></label>
                                  <input class="ipt" type="text" [(ngModel)]="Contacts.lastName" #lastName="ngModel" name ="lastName" placeholder="Last Name" tabindex="15">
                                  </div>   
                                  <div class="btn_flex">
                                    <button class="btn_Confirm" (click)="addContact()" >CREATE</button>
                                    <button class="btn_Cancel" data-dismiss="modal" (click)="close()">CANCEL</button>
                                </div>                         
                            </div>
                            <div class="col-12 col-lg-6 dtp-right">
                                <div class="flx_section">
                                    <label class="peak-form-label">Company Name</label>
                                    <input class="ipt" type="text" [(ngModel)]="Contacts.companyname" #companyname="ngModel" name="companyname" placeholder="company name" tabindex="16">
                                    </div> 
                              <div class="flx_section">
                                  <label class="peak-form-label">Phone Number<span>*</span></label>
                                  <input class="ipt" type="text" [(ngModel)]="Contacts.mobileNumber" mask= '(000) 000-0000' #mobileNumber="ngModel" name="mobileNumber" placeholder="PhoneNumber" mask= '(000) 000-0000' tabindex="17">
                                  </div> 
                              <div class="flx_section">
                                  <label class="peak-form-label">Email Address<span>*</span></label>
                                  <input class="ipt" type="email" [(ngModel)]="Contacts.emailAddress" #emailAddress="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="emailAddress"  placeholder="Email Address" tabindex="18">
                                  </div> 
                              <div class="flx_section">
                                  <label class="peak-form-label">Fax</label>
                                  <input class="ipt" type="text" [(ngModel)]="Contacts.faxNumber" mask= '(000) 000-0000' #faxNumber="ngModel" name="faxNumber" placeholder="Fax" tabindex="19">
                                  </div> 
                                  <div class="flx_section">
                                      <label class="peak-form-label">Address<span>*</span></label>
                                      <textarea placeholder="Address" [(ngModel)]="Contacts.mailingAddress" #mailingAddress="ngModel"  name="mailingAddress" tabindex="20"></textarea>
                                      </div> 
                                      <div class="flx_section">
                                        <label class="peak-form-label">City<span class="c-red">*</span></label>
                                        <div id="multiselect_custom">
                                                <input type="text" placeholder="Enter city" tabindex="21" [(ngModel)]="Contacts.citys" name="citys" class="peak-box-g"
                                                #citys="ngModel" >
                                        </div>
                                      </div>
                                      <div class="flx_section">
                                        <label class="peak-form-label">State<span class="c-red">*</span></label>
                                                <div id="multiselect_custom">
                                                    <mat-form-field appearance="fill">
                                                        <mat-select  tabindex="22" [(ngModel)]="Contacts.states" name="states"
                                                            #states="ngModel"
                                                            required [ngModelOptions]="{standalone: true}">
                                                            <mat-option *ngFor="let stateslist of Statedata" value="{{stateslist.stateId}}">
                                                                {{stateslist.stateName}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>                                          
                                                </div>
                                      </div>
                                      <div class="flx_section">
                                        <label class="peak-form-label">Zip
                                            <span class="c-red">*</span>
                                        </label>
                                        <input type="text" mask="000000" tabindex="23" placeholder="Enter Zip code"   [(ngModel)]="Contacts.zips" name="zips" class="peak-box-g"
                                        #zips="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && zip.invalid }"
                                        required>
                                      
                                      </div>
                                      <ng-container
                            *ngIf="Contacts.userTypeId==6;">
                          
                            <div class="flx_div">
                              <div class="flx_section" >
                                <label class="peak-form-label">Revenue Month</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.revenueMonth" [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Revenue Year</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.revenueYear" [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Files Month</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.filesMonth"  [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Files Year</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.filesYear" [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Add Exchange</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.synergyExchange" [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Accounts</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.synergyAccounts" [ngModelOptions]="{standalone: true}" />
                                  <span class="slider round"></span>
                                </label>
                              </div>
                              <div class="flx_section" >
                                <label class="peak-form-label">Monthly Account</label>
                                <label class="switch">
                                  <input type="checkbox" [(ngModel)]="Contacts.monthlyAccount"  [ngModelOptions]="{standalone: true}"/>
                                  <span class="slider round"></span>
                                </label>
                              </div>
                            </div>
                            </ng-container> 
                                      <div  class="flx_section   padding-15" *ngFor="let item of ContactsCF,index as i">
                                                                                                           
                                               
                                        <label class="peak-form-label">{{item.labelName}}</label>
                                       
                                      <div *ngIf="item.valueType=='Text'" class="flexWt-100">
                                          
                                          <ng-container >
                                              <input type="item.valueType" placeholder="{{item.toolTip}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                                          </ng-container>
                                                                                                                                             
                                      </div>
                                  
                                  
                                      <div *ngIf="item.valueType=='Interger '"  class="flexWt-100">
                                          <ng-container >
                                              <input type="number" placeholder="{{item.toolTip}}" [(ngModel)]="item.value">
                                          </ng-container>
                                                                                                                                           
                                      </div>
                                
                                  
                                      <div *ngIf="item.valueType=='Date '"  [config]="datePickerConfig">
                                          <ng-container>
                                              <dp-date-picker theme="dp-material" placeholder="{{item.toolTip}}" [(ngModel)]="item.value">
                                              </dp-date-picker>
                                              
                                          </ng-container>
                                                                                                                                         
                                      </div>
        
                        </div>
                                    </div>
                                    
           
                            
                                        
                                       
                                    
                                
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
        <!-- Dialog box -->
       


    </main>
</div>
