<div class="page-wrapper chiller-theme employee-wrapper">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <app-header >
        </app-header>
<div class="container-fluid contentpage_wrapper">
    <div class="pagecontent_wrapper">
        <div class="white_wrapper">
            <div class="mel-top">
                <h2 class="peak-form-head">Exchanges List</h2>
                
                <div class="mel-left-auto">
                    <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch(searchText)"/>
                 
                      
                </div>
              
               
           
              
            </div>
            <div class="apxtable_grid_table">
                <div class="table-responsive apx-responsive table-responsive-realest">
                    
               
                        <table class="table">
                            <thead>
                                <tr>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Exch No
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Assigned to
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Open Date
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Close Date
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">45-Days Deadline
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span></th>
    
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">180-Days Deadline
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                    <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Notes
                                        <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                        <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                    </th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let leadlist of ExchangeList | orderBy: order:reverse| paginate: { itemsPerPage: 5, currentPage: p }">
                                   
                                    <td *ngIf='leadlist.status==="Approved"; else leadWithoutLink' [routerLink]="['/synergy/syn-exchange',leadlist.exchangeId,leadlist.propertyId,leadlist.status,1]">
                                        <a href="javascript:void(0);" class="exchange-num-g">{{leadlist.exchangeNumber}}</a></td>
                                        <ng-template #leadWithoutLink>
                                            <td>{{leadlist.exchangeNumber}}</td>
                                        </ng-template>
                                    <td>{{leadlist.customerName }}</td>
                                    <td>{{leadlist.openDate | date}}</td>
                                    <td>{{leadlist.closeDate | date}}</td>
                                    <td>{{leadlist.dateOf45 | date}}</td>
                                    <td>{{leadlist.dateOf180 | date}}</td>
                                    <td>{{leadlist.notes}}</td>
                                 
                                </tr>
                        </tbody> 
                        </table> 
                    
                                    
                </div>
  
            </div>
  
        </div>
        <div class="apxtable_pagination_wrapper">
            <div class="apxtable_pagelist">
              
            </div>
            <div class="apxtable_pagination">
            
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    
            </div>
        </div>
    </div>
  </div>
</main>
</div>
