<div class="emp-login-g">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12 colsm-12 emp-login-left syn-login-left-g">
            <div class="emp-prof-txt-g">
                <img src="../../../assets/images/synergy/emp-forgot-bg.png" class="logo-g-emp">
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 colsm-12 emp-login-right">
            <div class="login-wrapper-emp-g emp-forgot-pw-g">
                <form name="forgot-password" (ngSubmit)="forgotPassword.form.valid&&_forgot_password()" #forgotPassword="ngForm">
                <div class="login-inner-wrap-emp-g">
                    <img src="../../../assets/images/logo.png" class="login-home-logo-g">
                    <h2 class="login-head">Forgot Password</h2>
                    <div class="login-box-g">
                        <label>Your Email</label>
                        <input type="text" name="email" [(ngModel)]="email.email"  #Email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'is-invalid': forgotPassword.submitted && Email.invalid}" required class="login-input-bx" placeholder="Enter your Mail Id" >
                        <div *ngIf="forgotPassword.submitted && Email.invalid" class="invalid-feedback">
                            <div *ngIf=" Email.errors?.required">Email is required</div>
                          </div> 
                          <div  *ngIf="Email.errors && Email.errors.pattern" class="invalid-feedback">
                            Email is invalid
                        </div>
                    </div>
                    <button class="sign-in-btn" (click)="_forgot_password()">SUBMIT</button>
                    <h2 class="reset-pw-g">Reset password link will be sent to your Registered Email ID</h2>
                    <h2 class="new-user-txt-g" routerLink="/customer/login"><span>Back to Login</span></h2>
                </div>
                </form> 
            </div>
        </div>
    </div>
</div>
