.manage-contacts .mel-left-auto {
    padding: 10px;
    display: flex;
    align-items: center;
}

dp-date-picker {
    width: 120px !important;
    margin-right: 20px;
}

button.btn.Customize {

margin-right: 10px;

}

.peak-form-label{

margin-right: 10px;
}

select#typeid {
    margin-right: 10px;
}