<div class="page-wrapper chiller-theme employee-wrapper cust-wrap">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <app-header>
        </app-header>
       <div class="container-fluid contentpage_wrapper">
            <div class="pagecontent_wrapper">

                <div class="col-lg-12 dash-brd-tab open-exchange-table-g p-0">
                    <div class="synergy-tab-hd-g">
                        <h2>LIST OF EXCHANGES</h2>
                        <div class="tb-rt-btn">
                            <button routerLink="/customer/cus-exchange" class="add-cust-btn-g">Add New Exchange</button>

                        </div>
                    </div>


                    <div class="emp-white-wrap-g p-0">
                        <div class="apxtable_grid_table">

                            <div class="table-responsive apx-responsive table-responsive-realest">
                                <table class="table open-exc-table-g">
                                    <thead>
                                        <tr>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Exchange #
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">RELINQUISHED PROPERTY ADDRESS
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">45-DaY Deadline
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">180-Day Deadline
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">BALANCE
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span></th>

                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">OPEN DATE
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>

                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">CLOSE DATE
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                            <th [class.active]="order === 'userid'" (click)="setOrder('userid')">Status
                                                <span [hidden]="reverse"><img src="../../../assets/images/sort.png"></span>
                                                <span [hidden]="!reverse"><img src="../../../assets/images/sort.png"></span>
                                            </th>
                                          

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let leadlist of ExchangeList | orderBy: order:reverse| paginate: { itemsPerPage: 10, currentPage: p } ">
                                            
                                            <td *ngIf='leadlist.status==="Approved"; else leadWithoutLink' [routerLink]="['/customer/cus-exchange-general',leadlist.exchangeId,leadlist.propertyId,leadlist.status]">
                                                <a href="javascript:void(0);" class="ex-txt-g">{{leadlist.exchangeNumber}}</a></td>
                                                <ng-template #leadWithoutLink>
                                                    <td>{{leadlist.exchangeNumber}}</td>
                                                </ng-template>  
                                            <td>{{leadlist.propertyAddress}}</td>
                                            <td>{{leadlist.dateOf45|date}}</td>
                                            <td>{{leadlist.dateOf180|date}}</td>
                                            <td>{{leadlist.balance ?leadlist.balance: 0 | currency}}</td>
                                            <td>{{leadlist.openDate|date}}</td>
                                            <td>{{leadlist.closeDate|date}}</td>
                                            <td>{{leadlist.status}}</td>
                                            

                                        </tr>


                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>

                    <div class="apxtable_pagination_wrapper">
                       
                        <div class="apxtable_pagination">
                            <!-- <ul>
                    <li class="prev">Prev</li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>...</li>
                    <li><a href="#">16</a></li>
                    <li><a href="#">17</a></li>
                    <li><a href="#">18</a></li>
                    <li class="next">Next</li>
                </ul> -->
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        </div>
                    </div>
                </div>
                <div class="emo-footer">
                    <p class="mail-sec"> help@peakexchange.com </p>
                    <p class="ph-sec"><b>|</b>+1-541-754-3010</p>
                    <span>Copyright © 2020 Peak 1031 Exchange</span>
                </div>
            </div>
        </div>
    </main>
</div> 
