<div class="page-wrapper chiller-theme employee-wrapper">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
    </a>
    <app-sidebar></app-sidebar>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <app-header >
        </app-header>
        <div class="container-fluid contentpage_wrapper">
            <div class="pagecontent_wrapper">
                <form (ngSubmit)=ExchangeForm.form.valid&&addExchange() #ExchangeForm="ngForm">
                <div class="syn-intakge-form-g">

                    <div class="white_wrapper">
                        <h2 class="cus-cnt-hd-g">New Exchange Intake Form</h2>
                        <div class="form-bk-g col-lg-12">
                            <div class="row">
                                <div class="col-md-12 col-lg-8 col-sm-12 col-xs-12 intake-frm-lft">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-4 col-xs-12 col-sm-12 int-frm-inner-lft-g">
                                            <div class="form-inner-g">
                                                <div class="peak-form">
                                                    <label class="peak-form-label">Relinquished Property Address<span class="c-red">*</span></label>
                                                    <textarea placeholder="Enter Address" tabindex="1" [(ngModel)]="Exchanges.RelinquishedAddress"  name="RelinquishedAddress" class="peak-box-g peak-t-area" #RelinquishedAddress="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && RelinquishedAddress.invalid }" required></textarea>
                                                    <div *ngIf="ExchangeForm.submitted && RelinquishedAddress.invalid" class="invalid-feedback">
                                                        <div *ngIf="RelinquishedAddress.errors.required">Address is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-lg-8 col-xs-12 col-sm-12 int-frm-inner-rt-g">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                                    
                                                    <div class="form-inner-g">
                                                        <div class="peak-form">
                                                            <label class="peak-form-label">city<span class="c-red">*</span></label>
                                                            <input type="text" placeholder="Enter city" tabindex="2" [(ngModel)]="Exchanges.city" name="city" class="peak-box-g"
                                                            #city="ngModel" >
                                                            <div *ngIf="ExchangeForm.submitted && city.invalid" class="invalid-feedback">
                                                                <div *ngIf="city.errors.required">city Name is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-inner-g">
                                                    <div>
                                                        <!-- <div class="flx_section"> -->
                                                        <label class="peak-form-label">State<span class="c-red">*</span></label>
                                                        <div id="multiselect_custom">
                                                            <mat-form-field appearance="fill">
                                                                <mat-select  tabindex="3" [(ngModel)]="Exchanges.state" name="state"
                                                                    #state="ngModel"
                                                                    required [ngModelOptions]="{standalone: true}">
                                                                    <mat-option *ngFor="let stateslist of Statedata" value="{{stateslist.stateId}}">
                                                                        {{stateslist.stateName}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                
                                                            <div *ngIf="ExchangeForm.submitted && state.invalid" class="invalid-feedback">
                                                                <div *ngIf="state.errors.required">state Name is required</div>
                                                            </div>
                
                                                        </div>
                
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                                    <div class="form-inner-g">
                                                       
                                                        <div class="form-inner-g">
                                                            <div class="peak-form">
                                                                <label class="peak-form-label">Zip<span class="c-red">*</span></label>
                                                                <input type="text" placeholder="Enter Zip code" tabindex="4"  [(ngModel)]="Exchanges.zip" name="zip" class="peak-box-g"
                                                                #zip="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && zip.invalid }"
                                                                required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                                    
                                                    <div class="form-inner-g">
                                                        <label class="peak-form-label">Customer Name<span class="c-red">*</span></label>
                                                        <input type="text" placeholder="Enter customer name" tabindex="5"  [(ngModel)]="Exchanges.contactid" name="contactid" class="peak-box-g"
                                                        #contactid="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && contactid.invalid }"
                                                        required>
                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="form-inner-g">
                                                <label class="peak-form-label">Settlement Agent/Escrow Company Name<span class="c-red">*</span></label>
                                    <input type="text" placeholder="Enter Company Name" [(ngModel)]="Exchanges.EscrowCompany" name="EscrowCompany" class="peak-box-g" #EscrowCompany="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && EscrowCompany.invalid }" required>
                                    <div *ngIf="ExchangeForm.submitted && EscrowCompany.invalid" class="invalid-feedback">
                                        <div *ngIf="EscrowCompany.errors.required">Escrow Company name is required</div>
                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="peak-form">
                                                <label class="peak-form-label">Settlement Agent/Escrow Officer Phone #<span class="c-red">*</span></label>
                                                <input type="text" placeholder="Enter Officer Phone" [(ngModel)]="Exchanges.EscrowPhone" phone autocomplete="off"
                                                maxlength="14" name="EscrowPhone"  class="peak-box-g" #EscrowPhone="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && EscrowPhone.invalid }" required>
                                                <div *ngIf="ExchangeForm.submitted && EscrowPhone.invalid" class="invalid-feedback">
                                                    <div *ngIf="EscrowPhone.errors.required">Escrow phone number is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="form-inner-g">
                                                <div class="peak-form">
                                                    <label class="peak-form-label">Settlement Agent / Escrow Officer Email<span class="c-red">*</span></label>
                                                    <input type="Email"  placeholder="Enter Officer Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="Exchanges.EscrowOfficerEmail" name="EscrowOfficerEmail" class="peak-box-g" #EscrowOfficerEmail="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && EscrowOfficerEmail.invalid }" required >
                                                    <div *ngIf="ExchangeForm.submitted && EscrowOfficerEmail.invalid" class="invalid-feedback">
                                                        <div *ngIf="EscrowOfficerEmail.errors.required">Escrow mail is required</div>
                                                    </div>
                                                    <div  *ngIf="EscrowOfficerEmail.errors && EscrowOfficerEmail.errors.pattern" class="invalid-feedback">
                                                        Email is invalid
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="form-inner-g">
                                                <div class="peak-form">
                                                    <label class="peak-form-label">How do you hold title to the Property?<span class="c-red">*</span></label>
                                    <input type="text" placeholder="Enter Title" [(ngModel)]="Exchanges.Propertytitle" tabindex="6" name="Propertytitle" class="peak-box-g" #Propertytitle="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && Propertytitle.invalid }" required >
                                    <div *ngIf="ExchangeForm.submitted && Propertytitle.invalid" class="invalid-feedback">
                                        <div *ngIf="Propertytitle.errors.required">Property title is required</div>
                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="form-inner-g">
                                                <div class="peak-form">
                                                    <label class="peak-form-label">Sales Price<span class="c-red">*</span></label>
                                                    <input type="text" prefix="$" separatorLimit="100000000000000000" [showMaskTyped]="true" mask="separator" thousandSeparator="," tabindex="8" min="0" max="9999999999999999" maxlength="30" oninput="this.value=this.value.slice(0,this.maxLength||1/0);this.value=(this.value   < 1) ? (1/0) : this.value;" placeholder="Enter Price" [(ngModel)]="Exchanges.SalesPrice"  name="SalesPrice" class="peak-box-g" #SalesPrice="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && SalesPrice.invalid }" required >
                                                    <div *ngIf="ExchangeForm.submitted && SalesPrice.invalid" class="invalid-feedback">
                                                        <div *ngIf="SalesPrice.errors.required">Sales Price is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 tr-frm-in-g">
                                            <div class="form-inner-g">
                                                <div class="peak-form">
                                                    <label class="peak-form-label">Approx.Current debt on property<span class="c-red">*</span></label>
                                                    
                                    <input type="text" prefix="$" separatorLimit="100000000000000000" [showMaskTyped]="true" mask="separator" thousandSeparator="," tabindex="7" min="0" max="9999999999999999" maxlength="30" oninput="this.value=this.value.slice(0,this.maxLength||1/0);this.value=(this.value   < 1) ? (1/0) : this.value;" placeholder="Enter Amount" [(ngModel)]="Exchanges.debt"  name="debt"  class="peak-box-g" #debt="ngModel" [ngClass]="{ 'is-invalid': ExchangeForm.submitted && debt.invalid }" required >
                                    <div *ngIf="ExchangeForm.submitted && debt.invalid" class="invalid-feedback">
                                        <div *ngIf="debt.errors.required">Debt Amount is required</div>
                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>



                                <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12 intake-frm-rgt">
                                    <div class="form-inner-g">
                                        <div class="peak-form">
                                            <label class="peak-form-label">Notes</label>
                                    <textarea placeholder="Enter Notes" [(ngModel)]="Exchanges.Notes" tabindex="9" name="Notes" class="peak-box-g peak-t-area-notes"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="button-area-g">
                            <button class="create-btn">Save</button>
                            <button type="button" [routerLink]="['/customer/cus-open-exchange']" class="cancel-btn">Cancel</button>
                        </div>
                    </div>

                </div>
</form>
            </div>
        </div>

    </main>
</div>
 <!-- Dialog box -->
 <div class="modal fade" #closebutton  id="bank_profile" role="dialog" data-backdrop="static" 
 data-keyboard="false"  aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog del-modal modal-dialog-centered document-temp-popup" role="document">
   <div class="modal-content">
       <div class="modal-body">
           <div class="header_flx">
               <h3>Add Contact</h3>
               <button type="button" id="close-modal" (click)="close()" class="close" data-dismiss="modal">&times;</button>
           </div>
           <div class="col-lg-12 dt-popup">
               <div class="col-12 col-lg-6 dtp-left">
                       <div class="flx_section">
                           <label class="peak-form-label">Contact Type<span>*</span></label>
                           <div class="select_div w-250">
                             <select id="typeid" [(ngModel)]="Contacts.userTypeId" name="userTypeId" #userTypeId="ngModel" tabindex="1">
                                 <option value="3">Synergy Client</option>
                                 <option value="4">Client</option>
                                 <option value="5">Escrow Officer</option>
                                 <option value="6">Broker/Agent</option>
                             </select>
                             <span><i class="fa fa-angle-down"></i></span>
                           </div>
                         </div>
                       <div class="flx_section">
                           <label class="peak-form-label">First Name<span>*</span></label>
                           <input class="ipt" type="text" [(ngModel)]="Contacts.firstName" #firstName="ngModel" name="firstName" placeholder="First Name" tabindex="2">
                           
                         </div>                                            
                       <div class="flx_section">
                           <label class="peak-form-label">Last Name<span>*</span></label>
                           <input class="ipt" type="text" [(ngModel)]="Contacts.lastName" #lastName="ngModel" name ="lastName" placeholder="Last Name" tabindex="3">
                           </div>   
                           <div class="btn_flex">
                             <button class="btn_Confirm" (click)="addContact()" >CREATE</button>
                             <button class="btn_Cancel" data-dismiss="modal" (click)="close()">CANCEL</button>
                         </div>                         
                     </div>
                     <div class="col-12 col-lg-6 dtp-right">
                         <div class="flx_section">
                             <label class="peak-form-label">Company Name</label>
                             <input class="ipt" type="text" [(ngModel)]="Contacts.companyname" #companyname="ngModel" name="companyname" placeholder="company name" tabindex="4">
                             </div> 
                       <div class="flx_section">
                           <label class="peak-form-label">Phone Number<span>*</span></label>
                           <input class="ipt" type="text" [(ngModel)]="Contacts.mobileNumber" mask= '(000) 000-0000' #mobileNumber="ngModel" name="mobileNumber" placeholder="PhoneNumber" mask= '(000) 000-0000' tabindex="5">
                           </div> 
                       <div class="flx_section">
                           <label class="peak-form-label">Email Address<span>*</span></label>
                           <input class="ipt" type="email" [(ngModel)]="Contacts.emailAddress" #emailAddress="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="emailAddress"  placeholder="Email Address" tabindex="6">
                           </div> 
                       <div class="flx_section">
                           <label class="peak-form-label">Fax</label>
                           <input class="ipt" type="text" [(ngModel)]="Contacts.faxNumber" #faxNumber="ngModel" name="faxNumber" placeholder="Fax" tabindex="7">
                           </div> 
                           <div class="flx_section">
                               <label class="peak-form-label">Address<span>*</span></label>
                               <textarea placeholder="Address" [(ngModel)]="Contacts.mailingAddress" #mailingAddress="ngModel"  name="mailingAddress" tabindex="8"></textarea>
                               </div> 
                               <div  class="flx_section   padding-15" *ngFor="let item of ContactsCF,index as i">
                                                                                                    
                                        
                                 <label class="peak-form-label">{{item.labelName}}</label>
                                
                               <div *ngIf="item.valueType=='Text'" class="flexWt-100">
                                   
                                   <ng-container >
                                       <input type="item.valueType" placeholder="{{item.toolTip}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                                   </ng-container>
                                                                                                                                      
                               </div>
                           
                           
                               <div *ngIf="item.valueType=='Interger '"  class="flexWt-100">
                                   <ng-container >
                                       <input type="number" placeholder="{{item.toolTip}}" [(ngModel)]="item.value">
                                   </ng-container>
                                                                                                                                    
                               </div>
                         
                           
                               <div *ngIf="item.valueType=='Date '"  [config]="datePickerConfig">
                                   <ng-container>
                                       <dp-date-picker theme="dp-material" placeholder="{{item.toolTip}}" [(ngModel)]="item.value">
                                       </dp-date-picker>
                                       
                                   </ng-container>
                                                                                                                                  
                               </div>
 
                 </div>
                             </div>
                             
    
                     
                                 
                                
                             
                         
                   </div>
                   
               </div>
           </div>
       </div>
   </div>
<!-- Dialog box -->